body {
    background-color: #2F3136;
}

.hr {
    border: 1px solid #E8641B;
}

.fonte {
    font-family: Arial, Helvetica, sans-serif;
    color: #E8641B;
}

.img {
    width: 100px;
    border-radius: 20px;
}

.logotipo {
    width: 300px;
}

.btn {
    border-radius: 7px;
    border: none;
    height: 25px;
    min-width: 130px;
}

.btn-confirmar {
    background: green;
    color: #2F3136;
}

.btn-confirmar:hover {
    background: rgb(0, 100, 0);
    cursor: pointer;
}

.btn-neutro {
    background: white;
    color: #2F3136;
}

.btn-neutro:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.input {
    background-color: #E8641B;
    border: none;
    color: #2F3136;
}

::placeholder {
    color: #2F3136;
}