input {
    background-color: #2F3136;
}

#navbar {
    border-bottom: 1px solid #E8641B;
}

.form-control {
    background-color: #2F3136;
    color: lightgray;
}

.navbar {
    background-color: #2F3136;
}

.navbar .sair {
    cursor: pointer;
}

.border {
    border-bottom: #E8641B;
    color: #E8641B;
    
}