input {
    background-color: #2F3136;
}

#navbar {
    border-bottom: 1px solid #E8641B;
}

.form-control {
    background-color: #2F3136;
    color: lightgray;
}

.form-floating-busca {
    color: #E8641B;
    margin-right: 10px;
}

.form-control-busca {
    border: 1px solid #E8641B;
}

.navbar {
    background-color: #2F3136;
}

.border {
    border-bottom: #E8641B;
    color: #E8641B;
    
}