.section-home {
    background-color: #2F3136;
    color: #E8641B;
    text-align: left;
    border-top: 1px solid #E8641B;
    border-bottom: 1px solid #E8641B;
    height: 100vh;
}

.titulo-clientes {
    margin-top: 90px;
}

.form-floating-busca {
    color: #E8641B;
    width: 80%;
    margin-right: 10px;
}

.form-control-busca {
    border: 1px solid #E8641B;
    margin-right: 10px;    
}

.btn-cliente-adicionar {
    width: 150px;
}